<div class="text-left flex p-4 my-4 text-white rounded-lg">
	<div class="comment-votes mx-2 p-4 bgdb rounded-xl text-center">	
		<a href=""><a class = "comment-upvotes " style="font-size: x-small;"></a></a>
		<img class="w-6 h-6 " src="/static/thumbs_up.png">

		<br>

		<img class="w-6 h-6" src="/static/thumbs_down.png">
		<a href=""><a class = "comment-downvotes" style="font-size: x-small;"></a></a>
	</div>
	<div class="comment-content-container mx-2 p-4 bgdb w-full rounded-xl">
		<h1 class="comment-creator font-bold text-xl my-2">FAILED TO GET CREATOR DETAILS</h1>
		<div class="comment-content"></div>
		<div class="comment-created-at"></div>
	</div>
</div>
